<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Smoketest">
    <classes>
      <class name="com.crm.contacttest.contactTest"/>
      <class name="com.crm.orgtest.orgTest"/>
    </classes>
  </test> <!-- Smoketest -->
</suite> <!-- Suite -->
